<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/task.js"></script>



  </head>
  <body>
  <div class="div_new_task">
    <h1>SMART-TODO List</h1>
    <form id="submit_form" action="/api/list" method="POST">
      <p>Please enter your task here</p>
      <textarea class="form__textarea" name="text" id="description-text" ></textarea>
      <div>
        <button class="submitButton"  type="submit">Submit</button>
      </div>
    </form>
    <section class="container" id="container">
      <article id="task_article"></article>
    </section>
  </div>
  </body>
</html>
