<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/task.js"></script>



  </head>
  <body>
  <header class="header-main">
  <div>
    <h1>SMART-TODO List</h1>
  </div>
  <form class="input_button new-task-button">
    <button type="submit"><b>Create</b> a new task</button>
  </form>
  <div id="login_id">
    <div>
    <% if(userId !== null){ %>
      <form  action="/mail" method="POST" id="send-mail">
        <input type="image"  class="mail_button"  src="https://img.icons8.com/ultraviolet/40/000000/email-open.png" alt="Submit">
      </form>
      <% } %>
    </div>
  <% if(userId !== null){ %>
  <form class="logout"> 
    <label id="current-user">Logged In As: <%= userId %></label>
    <button type="submit"><b>Logout</button>
  </form>
  <% } else { %>
  <label id="current-user">Not Logged In</label>
  <% } %>
  </div>
  <label id="email-message">Email sent</label>
  </header>
  <div class="div_new_task">
    <form id="submit_form" action="/api/list" method="POST">
      <p>Please enter your task here</p>
      <textarea class="form__textarea" name="text" id="description-text" ></textarea>
      <div>
        <button class="submitButton"  type="submit">Submit</button>
      </div>
    </form>
    <% if(userId !== null){ %>
    <section class="container" id="container">
      <article id="task_article"></article>
    </section>
    <% } else { %>
      <br>
      <label id="not-logged-in">Please log in to start adding tasks</label>
    <% } %>
  </body>
</html>
